// colores
$colorPrimario: white;
$colorSecundario: black;
$colorTerciario: orange;
$colorCuarternario: red;


// condicionales
 $color: blanco;

// medidas

 $medidaBasica: 1rem;

// map




 
     
 